@*@{
    int count = 9;
    int[] ints = { 1, 32, 21 };
}

@{
    <ul>
        @foreach (int item in ints)
        {
            <li>@item</li>
        }
    </ul>
    if (count == 10)
    {
        <h1>Count oldu 10 ona gore salam</h1>
    }
    else
    {
        <h1>Salam vermirem</h1>
    }
}*@

@*<h1>@ViewBag.Sahbaz</h1>*@
@*<h1>@ViewData["Name"]</h1>*@
@*<h1>@TempData["Name"]</h1>*@

@model SchoolVM;

@foreach (Student item in Model.Students)
{
    <h1>@item.Name</h1>
}

@foreach (Book item in Model.Books)
{
    <h1>@item.Title</h1>
}