@model List<Slider>
@{
    int count = 0;
}
<h1 class="h3 mb-2 text-gray-800">Categories</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        <div>
            <a class="btn btn-success px-5" asp-action="Create">Create</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Slider item in Model)
                    {
                        <tr>
                            <td>@(++count)</td>
                            <td><img style="width:200px;" src="~/assets/imgs/slider/@item.ImageName"/></td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td class="d-flex">
                                <a asp-action="Detail" asp-route-id="@item.Id"><button class="btn btn-info">Detail</button></a>
                                <a asp-action="Edit" class="m-2" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>
                                <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
